
body{
    font-family: "Libertinus Mono" , sans-serif;
    margin:0;
    padding:0;
    background-color:#212121;
    color:yellow;
    text-align:center;
    font-size: 1.5em;
    } 
header{
    background-color:#000000;
    color: #e64a19;
    padding: 5px 0;
    text-align: center;
    }
img{
    width: 450;
    height: 300;
}