.background_form{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.621);
    width: 100%;
    height: 100%;
    z-index: 100;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea{
    font-size: 18px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
    width: 100%;
    height: 500px;
}
.form-container{
    /* background-color: rgb(245, 179, 179); */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.form-popup{
    display: flex;
    margin:50px auto;
    width: 40%;
    height: 90%;
    border: 2px solid #0077D3;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
   
} 

input{
    font-size: 18px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
    width: 100%;
}

.color-picker {
    width: 30%;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 0;
    margin: 8px 0;
}

label{
    font-size: 17px;
    margin-top: 20px;
    color: #141215;
}

.botton-form{
    display:flex;
    align-items: center;
    justify-content: end;
}

.botton-form>.botton-cancel{
    background-color:hsl(0, 100%, 50%);
}

.botton-form>.botton-cancel:hover{
    background-color:white;
    border: 1px solid red;
    color: #141215;
}

.form-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    background-color: #068bf1;
    color: white;
    cursor: pointer;
    width: 80px;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #0570bd;
}